prefix = 'http://player.fm/series/e911-talk-podcast-10766/'

#jp

#jpc.jp-audio
  .jp-type-playlist
    .jp-gui.jp-interface
      .jp-video-play
        a.jp-video-play-icon(href='javascript:;', tabindex='1') play
      .jp-interface
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-current-time
        .jp-duration
        .jp-title
          ul
            li
        .jp-controls-holder
          ul.jp-controls
            li
              a.jp-previous(href='javascript:;', tabindex='1') previous
            li
              a.jp-play(href='javascript:;', tabindex='1') play
            li
              a.jp-pause(href='javascript:;', tabindex='1') pause
            li
              a.jp-next(href='javascript:;', tabindex='1') next
            li
              a.jp-stop(href='javascript:;', tabindex='1') stop
            li
              a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          .jp-volume-bar
            .jp-volume-bar-value
          ul.jp-toggles
            li
              a.jp-full-screen(href='javascript:;', tabindex='1', title='full screen') full screen
            li
              a.jp-restore-screen(href='javascript:;', tabindex='1', title='restore screen') restore screen
            li
              a.jp-shuffle(href='javascript:;', tabindex='1', title='shuffle') shuffle
            li
              a.jp-shuffle-off(href='javascript:;', tabindex='1', title='shuffle off') shuffle off
            li
              a.jp-repeat(href='javascript:;', tabindex='1', title='repeat') repeat
            li
              a.jp-repeat-off(href='javascript:;', tabindex='1', title='repeat off') repeat off
    .jp-playlist
      ul
        // The method Playlist.displayPlaylist() uses this unordered list 
        li
    .jp-no-solution
      span Update Required
      To play the media you will need to either update your browser to a recent version or update your
      a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin


//-.jp_container_1
  .jp-playlist
    ul
      li

//-.playerfm-widget
  .playerfm-title= home
  img.playerfm-image(src="http://a1.res.cloudinary.com/playerfm/image/fetch/c_fill,d_graymike-bg.png,h_90,w_90/"+imageURL)
  table.episodes
    each ep in episodes.slice(0,4)
      tr.episode
        td.main
          a.title(href="#{prefix}#{ep.slug}")= ep.title
          span.meta
            span.ago= (Math.ceil(((+new Date)/1000 - ep.publishedAt)/24/60/60))+'d '
            /
            span.duration= Math.round(ep.duration/60)+'m'
        td
          a.play(href="#{ep.url}") &#9654;
